@import 'variables';
@import 'base';
@import 'blocks/header';
@import 'blocks/sidebar';
@import 'blocks/services';
@import 'blocks/brands';
@import 'blocks/repair';
@import 'blocks/prices';
@import 'blocks/footer';
// Swiper overrides
.swiper {
  overflow: hidden !important;
}

.swiper-pagination-bullet-active {
  background: $color-pink !important;
}
.swiper-wrapper {
  display: flex !important;
  flex-direction: row !important;
}

.swiper {
  overflow: hidden !important;
}
